// This file is using .scss format to make it easier to write Maps & List
//
// Filter is used to change the color of PNG icon or SVG in pseudo-selector using `filter` property.
// Generate the value by copying the hex color here https://codepen.io/hrsetyono/pen/BaxyJQv
//
$colors: (
  ( hex: #252427, var: '--base',       slug: 'base',   filter: invert(14%) sepia(5%) saturate(482%) hue-rotate(219deg) brightness(95%) contrast(97%)),
  ( hex: #ffffff, var: '--baseInvert', slug: 'base-invert', filter: invert(100%) sepia(10%) saturate(7462%) hue-rotate(173deg) brightness(117%) contrast(108%) ),

  ( hex: #888888, var: '--gray',       slug: 'gray',       filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(151deg) brightness(90%) contrast(88%)),
  ( hex: #3C3C3C, var: '--grayDark',   slug: 'gray-dark',  filter: invert(35%) sepia(0%) saturate(0%) hue-rotate(193deg) brightness(98%) contrast(89%)),
  ( hex: #F5F5F5, var: '--grayLight',  slug: 'gray-light', filter: invert(100%) sepia(2%) saturate(1493%) hue-rotate(171deg) brightness(114%) contrast(76%)),

  ( hex: #283167, var: '--color1Dark',  slug: 'color-1-dark',  filter: invert(17%) sepia(11%) saturate(5879%) hue-rotate(206deg) brightness(96%) contrast(93%)),
  ( hex: #5C6BC0, var: '--color1',      slug: 'color-1',       filter: invert(59%) sepia(80%) saturate(2621%) hue-rotate(178deg) brightness(91%) contrast(87%)),
  ( hex: #D3D7EE, var: '--color1Light', slug: 'color-1-light', filter: invert(87%) sepia(18%) saturate(184%) hue-rotate(170deg) brightness(105%) contrast(95%)),

  ( hex: #26A65B, var: '--color2Dark',  slug: 'color-2-dark',  filter: invert(49%) sepia(22%) saturate(1352%) hue-rotate(92deg) brightness(103%) contrast(90%)),
  ( hex: #2ecc71, var: '--color2',      slug: 'color-2',       filter: invert(64%) sepia(63%) saturate(493%) hue-rotate(92deg) brightness(90%) contrast(90%)),
  ( hex: #def7e8, var: '--color2Light', slug: 'color-2-light', filter: invert(98%) sepia(67%) saturate(213%) hue-rotate(65deg) brightness(100%) contrast(95%)),

  ( hex: #e74c3c, var: '--color3',      slug: 'color-3',       filter: invert(59%) sepia(98%) saturate(5598%) hue-rotate(343deg) brightness(99%) contrast(83%)),
  ( hex: #fbdedb, var: '--color3Light', slug: 'color-3-light', filter: invert(96%) sepia(66%) saturate(482%) hue-rotate(292deg) brightness(101%) contrast(97%) ),
);

// BRAND COLORS
// Used in gutenberg/_core-widget.sass
// $social-colors: (
//   amazon: #f90,
//   bandcamp: #1ea0c3,
//   behance: #0757fe,
//   chain: #382110,
//   codepen: #1e1f26,
//   deviantart: #02e49b,
//   dribbble: #e94c89,
//   dropbox: #4280ff,
//   etsy: #f45800,
//   facebook: #1977f2,
//   feed: #382110,
//   fivehundredpx: #000,
//   flickr: #0461dd,
//   foursquare: #e65678,
//   github: #24292d,
//   goodreads: #382110,
//   google: #ea4434,
//   instagram: #f00075,
//   lastfm: #e21b24,
//   linkedin: #0577b5,
//   line: #03c302,
//   mail: #f0f0f0,
//   mastodon: #3288d4,
//   medium: #02ab6c,
//   meetup: #f6405f,
//   patreon: #ff424d,
//   pinterest: #e60122,
//   pocket: #ef4155,
//   reddit: #fe4500,
//   skype: #0478d7,
//   snapchat: #fefc00,
//   soundcloud: #ff5600,
//   spotify: #1bd760,
//   telegram: #08c,
//   tiktok: #000,
//   tumblr: #011835,
//   twitch: #6440a4,
//   twitter: #21a1f3,
//   vimeo: #1eb7ea,
//   vk: #4680c2,
//   wordpress: #3499cd,
//   jetpack-whatsapp: #25d366,
//   whatsapp: #25d366,
//   wechat: #7bb32e,
//   yelp: #d32422,
//   youtube: #ff0100
// );

// COLORS CSS VARIABLE
:root {
  @each $c in $colors {
    $var: map-get($c, 'var');
    $hex: map-get($c, 'hex');
    $slug: map-get($c, 'slug');
    $filter: map-get($c, 'filter');

    #{$var} : #{$hex};
    // RGB version for transparency
    // How to use: `rgba(--color1, .5)` which will output `rgba(var(--color1RGB), .5)`
    #{$var}RGB : #{ red($hex) }, #{ green($hex) }, #{ blue($hex) };
    #{$var}Filter: $filter;
  }

  // Other colors
  --siteBg      : #f8f9fb;
  --siteBgColor : #f8f9fb;
  --panelBg     : #eff1f5;

  --colorAlert      : #e74c3c;
  --colorAlertLight : #f8cdc9;

  --baseDark: #1E1E1F;
  --baseDark2: #141415;

  // Compatibility for newer/older color names
  $altNames: (
    --main: --color1,
    --mainLight: --color1Light,
    --mainDark: --color1Dark,

    --sub: --color2,
    --subLight: --color2Light,
    --subDark: --color2Dark,

    --text: --base,
    --textInvert: --baseInv,
    --black: --base,
    --white: --baseInv,
  );

  @each $altName, $name in $altNames {
    #{$altName}: var(#{$name});
    #{$altName}RGB: var(#{$name}RGB);
    #{$altName}Filter: var(#{$name}Filter);
  }
}

///// GUTENBERG COLOR CLASSES

[class*="-background-color"] {
  background-color: var(--bgColor);
}
.has-text-color,
.has-inline-color {
  color: var(--textColor, var(--base));
}

@each $c in $colors {
  $var: map-get($c, 'var');
  $slug: map-get($c, 'slug');

  .has-#{$slug}-background-color {
    --bgColor: var(#{$var});
    --bgColorRGB: var(#{$var}RGB);
    --filterBg: var(#{$var}Filter);
  }
  .has-#{$slug}-color {
    --textColor: var(#{$var});
    --textColorRGB: var(#{$var}RGB);
    --filterColor: var(#{$var}Filter);
  }
}

///// GRADIENTS

$gradients: (
  'base',
  'baseInv',
  'color1',
  'color1Light',
  'color2',
  'color2Light'
);

[class*='-gradient-background'] {
  background-image: var(--bgGradient);
}

@each $g in $gradients {
  .has-#{$g}-to-top-gradient-background {
    --bgGradient: linear-gradient(to top, var(--#{$g}), transparent);
  }
  .has-#{$g}-to-bottom-gradient-background {
    --bgGradient: linear-gradient(to bottom, var(--#{$g}), transparent);
  }
}