// This styling is applied to Gutenberg editor
@import "@lib/helpers"
@import "@lib/colors-fonts"
@import "@lib/vars"

// Fixed-width on blog wrapper
body.post-type-post
  .editor-styles-wrapper
    --wp--style--global--content-size: 750px
    --contentSize: 750px

  .editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper > :where(:not(.alignleft):not(.alignright):not(.alignfull)),
  .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull))
    max-width: var(--wp--style--global--content-size)

  .alignfull
    max-width: calc(var(--wp--style--global--content-size) + 4rem) !important
    margin-right: auto
    margin-left: auto
  .alignfull.has-background
    border-radius: var(--gRadius)

///// BUTTON

div.editor-styles-wrapper .wp-block-buttons
  --bgColor: var(--main)
  --textColor: var(--baseInv)

div.editor-styles-wrapper .wp-block-button__link
  background-color: var(--bgColor)
  border-radius: var(--gRadius)
  text-transform: uppercase
  font-weight: var(--hFontWeight)
  font-size: var(--sFontSize)
  letter-spacing: 0.025em
  line-height: 1
  color: var(--textColor)

.wp-block-button__link
  .is-style-outline &
    border: 2px solid currentColor

    &:not(:hover)
      background-color: transparent !important

///// HEADING

[data-type="core/heading"]
  // <strong> in heading become thin instead
  strong
    font-weight: var(--fontWeight)


///// EMBEDS

// Hide all except Embed, Youtube, and Twitter
.block-editor-inserter__panel-content [aria-label="Embeds"]
  > div:nth-child(n+2)
    display: none