///// PARAGRAPH

p.has-background
  padding: 0.75rem 1rem
  border-radius: var(--gRadius)

.has-drop-cap:first-letter
  float: left
  margin-right: 0.25rem
  font-family: var(--hFontFamily)
  font-weight: 700
  font-size: 3.25rem
  line-height: 3.25rem

.has-small-font-size
  font-size: var(--sFontSize)

.has-regular-font-size
  font-size: var(--fontSize)

.has-medium-font-size
  font-size: var(--mFontSize)

.has-large-font-size
  font-size: var(--lFontSize)
  line-height: var(--hLineHeight)

.has-huge-font-size
  font-size: var(--xlFontSize)
  line-height: var(--hLineHeight)

///// HEADING

h1, h2, h3, h4, h5, h6
  &.has-background
    padding: 1rem 2rem
    border-radius: var(--gRadius)

    @media ($below-s)
      padding: 0.5rem 1rem

  sub,
  sup
    text-transform: uppercase
    line-height: 1.75
    letter-spacing: 0.05em
    font-size: 50%
    font-weight: var(--fontWeight)

  strong
    font-weight: var(--fontWeight)

///// LIST

ul.has-background,
ol.has-background
  padding: 1rem 1.5rem
  padding-left: 2.5rem

ul.is-style-px-inline
  display: flex
  flex-wrap: wrap
  column-gap: 1rem
  row-gap: 0.5rem
  padding-left: 0
  list-style-type: disc

  li
    margin-left: var(--_iconSpace, 1.5rem)
    padding-left: 0

  li[style*="--pxIcon"] i
    margin-right: 0.5rem
  li[style*="--pxIconBg"] i
    transform: translateY(0.125rem)

ul.aligncenter,
ol.aligncenter
  display: flex
  flex-direction: column
  align-items: center
  
///// QUOTE

.wp-block-quote
  position: relative
  padding: 0.5rem 1rem
  border-left: 4px solid
  border-radius: 0 0.25rem 0.25rem 0

  &.has-color-1-light-background-color,
  &.has-color-1-lighter-background-color,
  &.has-color-1-lightest-background-color
    border-color: var(--color1)
  &.has-color-2-light-background-color,
  &.has-color-2-lighter-background-color,
  &.has-color-2-lightest-background-color
    border-color: var(--color2)

  > * + *
    margin-top: 0.75rem

  cite
    display: block
    font-size: var(--sFontSize)
    opacity: .5

  &.has-text-align-right
    border-left: none
    border-right: 4px solid
    border-radius: 0.25rem 0 0 0.25rem

  &.has-text-align-center
    padding: 1rem
    border-left: none
    border-radius: 0.25rem

    &::before
      content: ""
      position: absolute
      top: 0
      width: 100px
      height: 4px
      background-color: var(--base)
      border-radius: 0.25rem
      transform: translateX(-50%)

// QUOTE Testimony
.wp-block-quote.is-style-px-testimony
  position: relative
  border: none
  padding: var(--blockGap)
  padding-right: var(--blockWideGap)
  box-shadow: var(--shadowThin)

  &::before
    content: ""
    display: inline-block
    background: url('./img/quote-right.svg') no-repeat center center
    background-size: contain
    opacity: .1

    position: absolute
    top: var(--blockGap)
    right: var(--blockGap)
    width: 2rem
    height: 2rem


  cite
    font-style: normal
    color: var(--base)
    opacity: 1
    line-height: 1.5

    strong
      display: block

    img
      float: left
      object-fit: cover
      object-position: center center
      max-width: 2.5rem
      max-height: 2.5rem
      margin-right: 0.5rem
      border-radius: 50%

  &.has-text-align-right
    padding: var(--blockGap)
    padding-left: var(--blockWideGap)

    &::before
      right: auto
      left: var(--blockGap)

    cite img
      float: right
      margin-right: 0
      margin-left: 0.5rem
  
  &.has-text-align-center
    cite img
      float: none
      margin: 0
      margin-bottom: 0.5rem

///// TABLE

.wp-block-table
  display: flex
  flex-direction: column
  overflow-x: auto
  margin-top: var(--blockGap)
  margin-bottom: var(--blockGap)

  @media ($below-s)
    font-size: var(--sFontSize)

  table
    --_stripeBg: rgbA(var(--bgColorRGB, var(--grayRGB)), .1)
    --_border: rgbA(var(--baseRGB), .2)
    border-collapse: collapse
    border-spacing: 0
    color: var(--base)

  &.has-fixed-layout table,
  table.has-fixed-layout
    table-layout: fixed

  thead,
  tfoot
    background-color: var(--bgColor, rgba(--gray, .2))
    color: var(--textColor, var(--base))
    font-weight: 700
    text-align: left

  thead
    border-bottom: 2px solid var(--base)
  tfoot
    border-top: 2px solid var(--base)
  tbody
    background-color: var(--baseInv)
    color: var(--base)

  th, td
    padding: 0.5rem 1rem
    border-top: 1px solid var(--_border)

    @media ($below-s)
      padding: 0.25rem 0.5rem

  &.is-style-px-full-color
    tbody
      background-color: var(--bgColor)
      color: var(--textColor)

  &.is-style-stripes
    tbody tr:nth-child(even)
      background-color: var(--_stripeBg)

///// VERSE
  
.wp-block-verse
  white-space: pre-wrap
  font-family: var(--fontFamily)
  font-size: var(--fontSize)

///// CODE & PREFORMATTED

.wp-block-code,
.wp-block-preformatted
  white-space: normal

.wp-block-code
  background-color: rgba(black, .05)
  padding: 1rem
  border: 1px solid rgba(black, .1)
  border-radius: var(--gRadius)

  code
    padding: 0 0.5rem
