
///// LATEST POST

ul.wp-block-latest-posts
  padding-left: 0

.wp-block-latest-posts.is-grid
  --_padding: 1.5rem
  display: grid
  grid-template-columns: repeat(var(--_columns, 3), 1fr)
  column-gap: var(--_gap, 1.5rem)
  row-gap: var(--_gap, 1.5rem)

  list-style-type: none
  clear: both

  @media ($below-m)
    --_gap: 1rem

  // the top spacing should follow Group sizing
  &.alignwide,
  &.alignfull
    --blockGap: var(--blockWideGap)

  li
    overflow: hidden
    border-radius: var(--largeRadius)
    clear: both
    background-color: var(--baseInv)
    padding: var(--_padding)
    box-shadow: 0 1px 0 0 rgba(black, .1)

  &.columns-1
    --_columns: 1
  &.columns-2
    --_columns: 2
  &.columns-3
    --_columns: 3
  &.columns-4
    --_columns: 4
  &.columns-5
    --_columns: 5
  &.columns-6
    --_columns: 6

  &.columns-2,
  &.columns-3
    @media ($below-s)
      --_gap: 1rem
      --_columns: 2
    @media ($below-xs)
      --_columns: 1

  &.columns-4,
  &.columns-5,
  &.columns-6
    --_gap: 1rem

    @media ($below-m)
      --_columns: 3
    @media ($below-s)
      --_columns: 2

.wp-block-latest-posts.is-list
  --_imageSize: 6rem

  display: flex
  flex-direction: column
  row-gap: 1.5rem
  list-style-type: none
  max-width: var(--contentSize)

  @container (max-width:320px)
    --_imageSize: 0

  li
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    position: relative
    padding-left: calc(var(--_imageSize) + 0.75rem)
    column-gap: 1rem
    row-gap: 0.25rem
    min-height: var(--_imageSize)

.wp-block-latest-posts__post-title
  line-height: 1.4
  font-family: var(--hFontFamily)

  .is-grid &
    display: block
    margin-top: 0.75rem
    text-decoration: none
    font-weight: 700
    font-size: var(--h5Size)

    &:hover
      color: var(--linkColorHover)
      text-decoration: underline

  .is-list &
    display: block
    width: 100%
    text-decoration: none
    font-weight: 700
    font-size: var(--h6Size)

    &:hover
      text-decoration: underline

.wp-block-latest-posts__post-author,
.wp-block-latest-posts__post-date
  display: inline-block
  color: var(--gray)
  font-weight: 600
  font-size: var(--xsFontSize)
  opacity: .5
  text-transform: uppercase

.wp-block-latest-posts__post-author
  margin-right: 0.5rem

.wp-block-latest-posts__featured-image
  a:hover
    opacity: .75
  &:hover + a
    text-decoration: underline

  .is-grid &
    margin: calc(-1 * var(--_padding))
    margin-bottom: 0

    img
      width: 100%
      max-width: auto
      max-height: 150px
      object-fit: cover
      box-shadow: var(--shadow0)
      border-radius: 0

  .is-list &
    position: absolute
    top: 0
    left: 0

    img
      min-width: var(--_imageSize)
      width: var(--_imageSize)
      height: var(--_imageSize)
      aspect-ratio: 1/1
      object-fit: cover
      object-position: center center
      border-radius: var(--gRadius)

    @container (max-width:320px)
      position: static
      img
        width: 100%
        height: auto
        aspect-ratio: 3/1

.wp-block-latest-posts__post-excerpt
  .is-grid &
    margin-top: 0.5rem
    font-size: var(--sFontSize)

  .is-list &
    font-size: var(--sFontSize)

///// EMBED

.wp-block-embed
  text-align: center

  iframe
    border-radius: var(--gRadius)

.wp-block-embed__wrapper
  display: flex
  justify-content: center
  position: relative

  &::before
    .wp-has-aspect-ratio &,
    .wp-block-embed-wordpress &
      content: ""
      display: block
      width: 100%

    .wp-embed-aspect-21-9 &,
    .wp-block-embed-wordpress &
      padding-top: 42.85%
    .wp-embed-aspect-18-9 &
      padding-top: 50%
    .wp-embed-aspect-16-9 &
      padding-top: 56.25%
    .wp-embed-aspect-4-3 &
      padding-top: 75%
    .wp-embed-aspect-1-1 &
      padding-top: 100%
    .wp-embed-aspect-9-6 &
      padding-top: 66.667%
    .wp-embed-aspect-1-2 &
      padding-top: 200%
    
.wp-has-aspect-ratio,
.wp-block-embed-wordpress
  iframe
    +absolute-fill
    width: 100%
    height: 100%

.wp-block-embed-wordpress
  blockquote
    display: none
  iframe
    clip: auto !important


///// SEARCH

.wp-block-search__label
  margin-bottom: 0.25rem
  font-weight: 700
  font-size: var(--sFontSize)

.wp-block-search__inside-wrapper 
  display: flex
  column-gap: 0.75rem
  max-width: var(--contentSize)
  
  input
    flex: 1
  button
    background-color: var(--base)
  
.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
    column-gap: 0
    border: 1px solid
    border-radius: var(--gRadius)
    padding: 0.25rem
    background-color: var(--baseInv)

    &:focus-within
      outline: auto

  input
    border: none
    background-color: transparent
  input:focus
    outline: none
  button
    padding: 0 0.25rem
  svg
    width: 1.75rem
    height: 1.75rem


///// SOCIAL LINKS

// BRAND COLORS
$social-colors: ( facebook: #1977f2, instagram: #f00075, linkedin: #0577b5, skype: #0478d7, telegram: #08c, tiktok: #000, twitter: #21a1f3, whatsapp: #25d366, youtube: #ff0100 )

.wp-block-social-links
  --iconSize: 1.75rem
  --iconPadding: 0.5rem

  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: flex-start
  row-gap: 1rem
  column-gap: 1rem

  padding-left: 0
  list-style-type: none

  &.items-justified-center
    justify-content: center
  &.items-justified-right
    justify-content: flex-end
  &.items-justified-space-between
    justify-content: space-between

  &.has-small-icon-size
    --iconSize: 1.25rem
    --iconPadding: 0.25rem
  &.has-large-icon-size
    --iconSize: 2.5rem
  &.has-huge-icon-size
    --iconSize: 3.25rem

  &.has-monotone-color
    --iconBg: var(--color1)
    --iconColor: currentColor

  &.is-style-default,
  &.is-style-pill-shape
    --iconColor: var(--baseInv)
  
  &.is-style-logos-only
    --iconPadding: 0px

  &.is-orientation-vertical
    flex-direction: column
    align-items: flex-start

.wp-social-link
  --brandColor: currentColor

// $social-colors variable is in _vars.scss
@each $name, $color in $social-colors
  .wp-social-link-#{ $name }
    --brandColor: #{ $color }

// anchor tag
.wp-block-social-link-anchor
  display: flex
  align-items: center
  justify-content: center
  
  transition: var(--gTransition)
  will-change: opacity, transform

  border-radius: var(--gRadius)
  line-height: 0

  &:hover
    opacity: .7
    transform: translateY(-1px)

    figure
      box-shadow: var(--shadow1)
  
  &:active
    transition: none
    transform: none

  p
    display: inline-block
    margin-left: 0.5rem
    line-height: 1.25

  strong
    display: block

.wp-block-social-link__icon
  display: flex
  align-items: center
  justify-content: center
  transition: var(--gTransition)

  padding: var(--iconPadding, 0.25rem)
  width: calc(var(--iconSize) + var(--iconPadding) * 2)
  height: calc(var(--iconSize) + var(--iconPadding) * 2)
  border-radius: var(--gRadius)

  .is-style-default &,
  .is-style-pill-shape &
    background-color: var(--iconBg, var(--brandColor))

  .is-style-pill-shape &
    border-radius: 50%

  .is-style-outline &
    border: 1px solid var(--iconColor, var(--brandColor))
    border-radius: 50%

  svg
    height: 100%

    .has-large-icon-size &,
    .has-huge-icon-size &
      width: 100%

    .wp-social-link-custom &
      height: 85%

  path
    fill: var(--iconColor, var(--brandColor))